In [52]:
import pandas as pandas
import numpy as np
import pandas as pd
import os
%matplotlib inline
import sys

In [49]:
class reader():
    def __init__(self,dataset_path= "Data1.xlsx"):
        
        self.dataset_path = dataset_path
        self.features = 0
        self.taret = 0
        
    def load_data(self,dataset_path):
        data = pd.read_excel(dataset_path, sheetname=None)
        print(data)
        return data

In [51]:
#read = reader()
#print(read.load_data("Data1.xlsx"))

In [55]:
data = pd.read_excel('QG_DS_ML_hiringChallenge.xlsx',sheetname='Specific Mutation Counts')

/home/vikrant/anaconda3/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [57]:
data = data.T
data.head(5)

                                    NaN                             \
                                    NaN
                                    NaN
                                    NaN
                                    NaN
                                    NaN
                                    NaN
                                    NaN
                                    NaN
                                    NaN          NaN           NaN
Processed Sample ID  Clinical diagnosis  Cancer type  Inflammatory
2-9                              CANCER        Daisy             0
2-10                             CANCER        Daisy             0
5-9                              CANCER        Daisy             0
5-10                             CANCER        Daisy             0

                                                                      \








                                   NaN                           NaN
Processed Sample ID  Risk Factor: None  Risk Factor: Smoking History
2-9                                  0                             1
2-10                                 0                             0
5-9                                  0                             1
5-10                                 0                             0

                                                  \








                                             NaN
Processed Sample ID  Risk Factor: Family History
2-9                                            1
2-10                                           1
5-9                                            0
5-10                                           1

                                                                         \








                                                NaN                 NaN
Processed Sample ID  Risk Factor: Medical Condition  Risk Factor: Other
2-9                                               1                   0
2-10                                              0                   0
5-9                                               1                   0
5-10                                              1                   0

                                                                   ...       \
                                                                   ...
                                                                   ...
                                                                   ...
                                                                   ...
                                                                   ...
                                                                   ...
                                                                   ...
                                                                   ...
                                      NaN                  NaN     ...
Processed Sample ID  Risk Factor: Unknown  Comorbidities: None     ...
2-9                                     0                    0     ...
2-10                                    0                    0     ...
5-9                                     0                    0     ...
5-10                                    0                    0     ...

                    GATA3  NaN  SUM  NaN      TP53  APC CTNNB1  NaN  \
                      1.0  NaN  NaN  NaN       0.0 -0.1   -0.1  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN       NaN  NaN    NaN  NaN
                      NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
Processed Sample ID   NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
2-9                     0  NaN    1  NaN  NaN   10    7      3  NaN
2-10                    0  NaN    3  NaN  NaN    6    4      1  NaN
5-9                     0  NaN    3  NaN  NaN   14    9      5  NaN
5-10                    0  NaN    2  NaN  NaN    9    3      6  NaN

                    Sum tertiary
                             NaN
                             NaN
                             NaN
                             NaN
                             NaN
                             NaN
                             NaN
                             NaN
                             NaN
Processed Sample ID          NaN
2-9                           20
2-10                          11
5-9                           28
5-10                          18

[5 rows x 320 columns]